streamlit==1.51.0
blinker
cachetools
click
gitpython
pillow
protobuf
pydeck
requests
tenacity
toml
altair<6
numpy
pandas
transformers
accelerate
torch
sentence-transformers
faiss-cpu
pypdf
